<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppReviewTimes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>days - Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>daysToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A38211151C8308EA00F14747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A382112E1C8308EA00F14747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A38211391C8308EA00F14747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B587991C836F2A00A849BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B587B01C836FDD00A849BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
